<div class="container mt-5 mb-5">

  <div class="search" >
          <form class="d-flex" role="search">
        <input class="form-control me-2" type="text" #box  placeholder="Search" name="key" aria-label="Search">
        <button class="btn btn-outline-success" (click)="onSubmit($event,box.value)">Search</button>
      </form>
  </div>

  <div class="row">

    <div class="col-lg-4" *ngFor="let p of displayedProducts">

      <div class="productBox mt-3 mb-3">
        <img src="{{p.imgUrl}}">
        <h1>{{p.name}}</h1>
        <p>{{p.description}}</p>
        <p>Disponibili in magazzino : {{p.quantity}}</p>
        <p>${{p.price }}</p>
        <br/>
        <form class="form">
          <input type="number" min="0" class="form-control" #box (click)="setQuantity(box.value)" placeholder="How much?" name="quantity">
          <button class="addbtn" (click)="addItemToCart($event,p)" >Add to Cart &nbsp; <i class="bi bi-cart-plus"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
